

body {
  margin-top: 100px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

h2 {
  text-align: center;
}

.about_image {
  height: 500px;
  width: 500px;
  background-position: 45% 0%;
  background-image: url("../img/Janet2.jpg");
  border-radius: 50%;

}

.author_image {
  height: 500px;
  width: 500px;
  background-position: 45% 0%;
  background-image: url("../img/Janet2.jpg");
  border-radius: 50%;
}

.artist_image {
  height: 500px;
  width: 500px;
  background-position: 45% 0%;
  background-image: url("../img/Janet2.jpg");
  border-radius: 50%;
}

.interpreter_image {
  height: 500px;
  width: 500px;
  background-position: 45% 0%;
  background-image: url("../img/Janet2.jpg");
  border-radius: 50%;
}

.translater_image {
  height: 500px;
  width: 500px;
  background-position: 45% 0%;
  background-image: url("../img/Janet2.jpg");
  border-radius: 50%;
}

#about, #author, #artist, #interpreter, #translater {
  min-height: 800px;
  padding-top: 50px;
  border: none;
}

.lead {
  /*out stuff here?*/
}
